@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Tirando todos os espaçamentos e margens da pagina e estilisando uma font*/
* {
    margin: 0;/*espacamento externo*/
    padding: 0;/*espacamento interno*/
    font-family: 'Roboto', sans-serif;
}
/*Papel de fundo da pagina, colocando*/
body {
    background-image: url('../assets/img/background.jpg');/*imagem pego no imgur(plataforma que armazena imgs)*/
    background-repeat: no-repeat;/*a imagem não se repete na tela*/
    background-size: cover;/*pega o tamanho todo do fundo e padroniza para imagem nao ficar distorcida caso minimize a tela*/
    background-attachment: fixed;/*fixa a imagem tambem na questao de nao distorcer*/
}

.container {
    display: flex;/*para utilizar flex-box que é a organização espacialmente os elementos da pagina*/
    justify-content: center;/*centralizar todos nossos componentes dentro dessa tag container*/
    width: 100%;/*Garante que cubra os 100% de espaçamento*/
    margin-top: 100px;/*No topo da pagina dar uma espaçamento*/
}

.card {
    margin-top: 100px;
    background: linear-gradient(to bottom right, #8be4ff 0%, #006699 100%);/*cor: 6 primeiros digitos | opacidade: porcentagem de transparencia*/
    padding: 100px;/*espaçamento de todos os lados*/
    border-radius: 4%;/*redondar as bordas pra nao deixar pontudas*/
    box-shadow: 8px 8px 1px 0px #00669930;/*sombreamento como se fosse um relevo, ordem para por o px direito-baixo-esquerda-cima | cor e opacidade*/ 
}

h1 {
    text-align: center;/*centralizar texto*/
    margin-bottom: 30px;/*colocar uma margem/espaçamento abaixo*/
}

.label-float input {/*todos os inputs que estao dentro do 'label-float' sofrera essas alteracoes abaixo*/
    width: 100%;
    padding: 5px 5px; /*tamanho para baixo e para o lado direito*/
    display: inline-block; /*Para fixar em uma linha, ou seja o componente que tiver essa tag 'input' so ele ocupara tal espaco*/
    border: 0;/*sem bordas nos inputs, aquelas linhas de contorno*/
    border-bottom: 2px solid #006699;
    background-color: transparent;
    outline: none;/*retira aquele contorno de quando clicamos no input*/
    min-width: 180px;
    font-size: 16px;/*tamanho da letra*/
    transition: all .3s ease-out;/*meio que mostra o input se tranformando aos de acordo com a contagem no caso 0.3s*/
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {/*quando entrar dentro do input*/
    border-bottom: 2px solid #ffffff;
}

.label-float label {
    color: linear-gradient(to bottom right, #8be4ff 0%, #006699 100%);
    pointer-events: none;/*quando colocamos o ponteiro do mouse em cima da label*/
    position: absolute;/*a posicao dela fica por cima de algo caso tenta sobre sair algum componente*/
    top: 0;
    left: 0;
    margin-top: 15px;
    transition: all .3s ease-in;
}

/*Acoes quando entrar dentro do input a label deve*/
.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px;
    margin-top: 0;
    color: #ffffff;
}

button {
    background-color: transparent;
    border-color: #000000;
    padding: 10px 60px;
    font-weight: bold;/*Deixa a palavra em negrito*/
    font-size: 12pt;
    margin-top: 60px;
    border-width: 3px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease-out;
}

button:hover { /*quando passa o mouse*/
    background: linear-gradient(to bottom right, #006699 0%, #33ccff 100%);
    color: #ffffff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

h1, button, p {
    color: linear-gradient(to bottom right, #8be4ff 0%, #006699 100%);
}

p {
    font-size: 14pt;
    text-align: center;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
}

a:hover {
    color: #ffffff;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
